<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Page1</h1>
    </n>
</head>
<body>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is page 1 </div>
<a href="../Page2/page2.html" class="rabt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to Page 2</a>
<script>
   /* const res = await fetch('/someNewFeature', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ username, password })
    });

    const data = await res.json();

    if(res.status === 200){
        window.location.href = 'Page1/page1.html';
    }else{
        alert(data.message);
    }/*
</script>
</body>
</html>